<plist version="1.0"><dict><key>frames</key><dict><key>mr2_comeon_icon.png</key><dict><key>height</key><integer>181</integer><key>offsetX</key><real>0.0</real><key>offsetY</key><real>0.0</real><key>originalHeight</key><integer>181</integer><key>originalWidth</key><integer>181</integer><key>width</key><integer>181</integer><key>x</key><integer>250</integer><key>y</key><integer>0</integer></dict><key>mr2_comeon_txt.png</key><dict><key>height</key><integer>119</integer><key>offsetX</key><real>0.0</real><key>offsetY</key><real>0.0</real><key>originalHeight</key><integer>119</integer><key>originalWidth</key><integer>249</integer><key>width</key><integer>249</integer><key>x</key><integer>0</integer><key>y</key><integer>0</integer></dict></dict></dict></plist>