<plist version="1.0"><dict><key>frames</key><dict><key>1.png</key><dict><key>frame</key><string>{{290,2},{94,94}}</string><key>offset</key><string>{1,-1}</string><key>rotated</key><false/><key>sourceSize</key><string>{100,100}</string></dict><key>2.png</key><dict><key>frame</key><string>{{194,2},{94,94}}</string><key>offset</key><string>{1,-1}</string><key>rotated</key><false/><key>sourceSize</key><string>{100,100}</string></dict><key>3.png</key><dict><key>frame</key><string>{{98,2},{94,94}}</string><key>offset</key><string>{1,-1}</string><key>rotated</key><false/><key>sourceSize</key><string>{100,100}</string></dict><key>4.png</key><dict><key>frame</key><string>{{2,2},{94,94}}</string><key>offset</key><string>{1,-1}</string><key>rotated</key><false/><key>sourceSize</key><string>{100,100}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>popsys_timedown.png</string></dict></dict></plist>