<plist version="1.0"><dict><key>frames</key><dict><key>Common/Image/watermark/watermark.png</key><dict><key>frame</key><string>{{1920,0},{109,109}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{109,109}</string></dict><key>Common/Image/watermark/watermark_bg.png</key><dict><key>frame</key><string>{{0,0},{1920,1080}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{1920,1080}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>watermark.png</string></dict><key>texture</key><dict><key>height</key><integer>1080</integer><key>width</key><integer>2029</integer></dict></dict></plist>