<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>js_cd_wz.png</key>
		<dict>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>147</integer>
			<key>originalWidth</key>
			<integer>310</integer>
			<key>width</key>
			<integer>310</integer>
			<key>x</key>
			<integer>1248</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>js_dk_cd.png</key>
		<dict>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<integer>-72</integer>
			<key>offsetY</key>
			<integer>7</integer>
			<key>originalHeight</key>
			<integer>227</integer>
			<key>originalWidth</key>
			<integer>626</integer>
			<key>width</key>
			<integer>482</integer>
			<key>x</key>
			<integer>1560</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>js_dk_di.png</key>
		<dict>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>132</integer>
			<key>originalWidth</key>
			<integer>570</integer>
			<key>width</key>
			<integer>570</integer>
			<key>x</key>
			<integer>579</integer>
			<key>y</key>
			<integer>149</integer>
		</dict>
		<key>js_sk_cd.png</key>
		<dict>
			<key>height</key>
			<integer>309</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>309</integer>
			<key>originalWidth</key>
			<integer>576</integer>
			<key>width</key>
			<integer>576</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>159</integer>
		</dict>
		<key>skjs_xx.png</key>
		<dict>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>2</integer>
			<key>originalHeight</key>
			<integer>144</integer>
			<key>originalWidth</key>
			<integer>504</integer>
			<key>width</key>
			<integer>504</integer>
			<key>x</key>
			<integer>579</integer>
			<key>y</key>
			<integer>283</integer>
		</dict>
		<key>wz_dk.png</key>
		<dict>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>145</integer>
			<key>originalWidth</key>
			<integer>306</integer>
			<key>width</key>
			<integer>306</integer>
			<key>x</key>
			<integer>628</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>wz_js.png</key>
		<dict>
			<key>height</key>
			<integer>145</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>145</integer>
			<key>originalWidth</key>
			<integer>310</integer>
			<key>width</key>
			<integer>310</integer>
			<key>x</key>
			<integer>936</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>wz_pk.png</key>
		<dict>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>146</integer>
			<key>originalWidth</key>
			<integer>303</integer>
			<key>width</key>
			<integer>303</integer>
			<key>x</key>
			<integer>323</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>wz_sk.png</key>
		<dict>
			<key>height</key>
			<integer>156</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>156</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>320</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
