<plist version="1.0"><dict><key>frames</key><dict><key>head_trust.png</key><dict><key>frame</key><string>{{2,2},{74,89}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{74,89}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>mah_game_layer2.png</string></dict></dict></plist>