<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>huojian-animation_15_0002_huojian-animation_18.png</key>
		<dict>
			<key>height</key>
			<integer>513</integer>
			<key>offsetX</key>
			<integer>-23</integer>
			<key>offsetY</key>
			<integer>-124</integer>
			<key>originalHeight</key>
			<integer>1202</integer>
			<key>originalWidth</key>
			<integer>1346</integer>
			<key>width</key>
			<integer>788</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
