<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baiguang.png</key>
		<dict>
			<key>height</key>
			<integer>360</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>366</integer>
			<key>originalWidth</key>
			<integer>372</integer>
			<key>width</key>
			<integer>371</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>baiguang2.png</key>
		<dict>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>174</integer>
			<key>originalWidth</key>
			<integer>372</integer>
			<key>width</key>
			<integer>244</integer>
			<key>x</key>
			<integer>1201</integer>
			<key>y</key>
			<integer>150</integer>
		</dict>
		<key>dimiansuilie.png</key>
		<dict>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>147</integer>
			<key>originalWidth</key>
			<integer>374</integer>
			<key>width</key>
			<integer>374</integer>
			<key>x</key>
			<integer>1201</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>diquan1.png</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>572</integer>
			<key>width</key>
			<integer>572</integer>
			<key>x</key>
			<integer>374</integer>
			<key>y</key>
			<integer>257</integer>
		</dict>
		<key>diquan2.png</key>
		<dict>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>120</integer>
			<key>originalWidth</key>
			<integer>336</integer>
			<key>width</key>
			<integer>336</integer>
			<key>x</key>
			<integer>1577</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>guang.png</key>
		<dict>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>151</integer>
			<key>originalWidth</key>
			<integer>149</integer>
			<key>width</key>
			<integer>147</integer>
			<key>x</key>
			<integer>1447</integer>
			<key>y</key>
			<integer>150</integer>
		</dict>
		<key>guangquan.png</key>
		<dict>
			<key>height</key>
			<integer>254</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>254</integer>
			<key>originalWidth</key>
			<integer>604</integer>
			<key>width</key>
			<integer>604</integer>
			<key>x</key>
			<integer>374</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>huojian-animation_15_0005_huojian-animation_15.png</key>
		<dict>
			<key>height</key>
			<integer>258</integer>
			<key>offsetX</key>
			<integer>14</integer>
			<key>offsetY</key>
			<integer>-75</integer>
			<key>originalHeight</key>
			<integer>1202</integer>
			<key>originalWidth</key>
			<integer>1346</integer>
			<key>width</key>
			<integer>219</integer>
			<key>x</key>
			<integer>980</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>zd.png</key>
		<dict>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>163</integer>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>width</key>
			<integer>123</integer>
			<key>x</key>
			<integer>1915</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>zd_wz.png</key>
		<dict>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>107</integer>
			<key>originalWidth</key>
			<integer>205</integer>
			<key>width</key>
			<integer>203</integer>
			<key>x</key>
			<integer>1596</integer>
			<key>y</key>
			<integer>121</integer>
		</dict>
	</dict>
</dict>
</plist>
