<plist version="1.0"><dict><key>frames</key><dict><key>common_cant_list_bg.png</key><dict><key>frame</key><string>{{2,2},{176,182}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{176,182}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>common_cant_cut.png</string></dict></dict></plist>