<plist version="1.0"><dict><key>frames</key><dict><key>game_sound_update_bg.png</key><dict><key>frame</key><string>{{2,2},{82,82}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{82,82}</string></dict><key>game_sound_update_loading_1.png</key><dict><key>frame</key><string>{{86,19},{525,15}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{525,15}</string></dict><key>game_sound_update_loading_2.png</key><dict><key>frame</key><string>{{86,2},{525,15}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{525,15}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>game_sound_update.png</string></dict></dict></plist>