<plist version="1.0"><dict><key>frames</key><dict><key>BattlePass3_Img_1.png</key><dict><key>frame</key><string>{{2,814},{860,404}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{860,404}</string></dict><key>BattlePass3_Img_2.png</key><dict><key>frame</key><string>{{2,408},{860,404}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{860,404}</string></dict><key>BattlePass3_Img_3.png</key><dict><key>frame</key><string>{{2,2},{860,404}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{860,404}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>BattlePass3.png</string></dict></dict></plist>