<plist version="1.0"><dict><key>frames</key><dict><key>ImageTextTutorial_30579_Btn_cloes.png</key><dict><key>frame</key><string>{{336,2},{49,49}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{49,49}</string></dict><key>ImageTextTutorial_30579_Btn_huang_1.png</key><dict><key>frame</key><string>{{2,2},{332,108}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{332,108}</string></dict><key>ImageTextTutorial_30579_Img_d.png</key><dict><key>frame</key><string>{{336,53},{20,20}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{20,20}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>ImageTextTutorial_30579.png</string></dict></dict></plist>