<plist version="1.0"><dict><key>frames</key><dict><key>gold_baselive_title.png</key><dict><key>frame</key><string>{{135,2},{254,68}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{254,68}</string></dict><key>gold_charge_btn.png</key><dict><key>frame</key><string>{{2,2},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{301,131}</string></dict><key>gold_charge_diamond.png</key><dict><key>frame</key><string>{{135,258},{61,56}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{61,56}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>diamond_gold.png</string></dict></dict></plist>