<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{957,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{957,270}}</string>
                <key>sourceSize</key>
                <string>{957,270}</string>
            </dict>
            <key>upcard_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{416,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{416,107}}</string>
                <key>sourceSize</key>
                <string>{430,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up_card_ani0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96865d8a9f1e00df075dfa8d3c5199e8$</string>
            <key>textureFileName</key>
            <string>up_card_ani0.png</string>
        </dict>
    </dict>
</plist>
