<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>effect_d12_01.png</key>
		<dict>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<integer>15</integer>
			<key>offsetY</key>
			<integer>-48</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>96</integer>
			<key>x</key>
			<integer>1292</integer>
			<key>y</key>
			<integer>371</integer>
		</dict>
		<key>effect_d12_02.png</key>
		<dict>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<integer>5</integer>
			<key>offsetY</key>
			<integer>-9</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>1880</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_03.png</key>
		<dict>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<integer>7</integer>
			<key>offsetY</key>
			<integer>-2</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>133</integer>
			<key>x</key>
			<integer>927</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_04.png</key>
		<dict>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<integer>7</integer>
			<key>offsetY</key>
			<integer>-2</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>139</integer>
			<key>x</key>
			<integer>1062</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_05.png</key>
		<dict>
			<key>height</key>
			<integer>225</integer>
			<key>offsetX</key>
			<integer>8</integer>
			<key>offsetY</key>
			<integer>-3</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>140</integer>
			<key>x</key>
			<integer>1203</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_06.png</key>
		<dict>
			<key>height</key>
			<integer>224</integer>
			<key>offsetX</key>
			<integer>8</integer>
			<key>offsetY</key>
			<integer>-3</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>143</integer>
			<key>x</key>
			<integer>1608</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_07.png</key>
		<dict>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<integer>-4</integer>
			<key>offsetY</key>
			<integer>-4</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>128</integer>
			<key>x</key>
			<integer>1345</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_08.png</key>
		<dict>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<integer>-1</integer>
			<key>offsetY</key>
			<integer>-4</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>131</integer>
			<key>x</key>
			<integer>1475</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_09.png</key>
		<dict>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<integer>4</integer>
			<key>offsetY</key>
			<integer>-4</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>125</integer>
			<key>x</key>
			<integer>1753</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>effect_d12_10.png</key>
		<dict>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<integer>6</integer>
			<key>offsetY</key>
			<integer>5</integer>
			<key>originalHeight</key>
			<integer>230</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>108</integer>
			<key>x</key>
			<integer>1454</integer>
			<key>y</key>
			<integer>357</integer>
		</dict>
		<key>effect_u04_00.png</key>
		<dict>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_01.png</key>
		<dict>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_03.png</key>
		<dict>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>431</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_04.png</key>
		<dict>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>646</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_05.png</key>
		<dict>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>861</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_06.png</key>
		<dict>
			<key>height</key>
			<integer>277</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>1076</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_07.png</key>
		<dict>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>1291</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_08.png</key>
		<dict>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>206</integer>
			<key>x</key>
			<integer>1506</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_09.png</key>
		<dict>
			<key>height</key>
			<integer>155</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>320</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>154</integer>
			<key>x</key>
			<integer>1714</integer>
			<key>y</key>
			<integer>511</integer>
		</dict>
		<key>effect_u04_10.png</key>
		<dict>
			<key>height</key>
			<integer>225</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>225</integer>
			<key>originalWidth</key>
			<integer>225</integer>
			<key>width</key>
			<integer>225</integer>
			<key>x</key>
			<integer>927</integer>
			<key>y</key>
			<integer>229</integer>
		</dict>
		<key>fangshe.png</key>
		<dict>
			<key>height</key>
			<integer>412</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>412</integer>
			<key>originalWidth</key>
			<integer>414</integer>
			<key>width</key>
			<integer>414</integer>
			<key>x</key>
			<integer>511</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>hscd.png</key>
		<dict>
			<key>height</key>
			<integer>508</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>508</integer>
			<key>originalWidth</key>
			<integer>508</integer>
			<key>width</key>
			<integer>508</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>jb_b.png</key>
		<dict>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>162</integer>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>width</key>
			<integer>136</integer>
			<key>x</key>
			<integer>1154</integer>
			<key>y</key>
			<integer>229</integer>
		</dict>
		<key>jb_j.png</key>
		<dict>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>141</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>width</key>
			<integer>160</integer>
			<key>x</key>
			<integer>1292</integer>
			<key>y</key>
			<integer>228</integer>
		</dict>
		<key>taqing_bow_1.png</key>
		<dict>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>1974</integer>
			<key>y</key>
			<integer>266</integer>
		</dict>
		<key>taqing_bow_2.png</key>
		<dict>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>53</integer>
			<key>x</key>
			<integer>1974</integer>
			<key>y</key>
			<integer>211</integer>
		</dict>
		<key>taqing_bow_3.png</key>
		<dict>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>79</integer>
			<key>x</key>
			<integer>1804</integer>
			<key>y</key>
			<integer>225</integer>
		</dict>
		<key>taqing_bow_4.png</key>
		<dict>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>1885</integer>
			<key>y</key>
			<integer>211</integer>
		</dict>
		<key>taqing_bow_5.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>1</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>97</integer>
			<key>x</key>
			<integer>1804</integer>
			<key>y</key>
			<integer>308</integer>
		</dict>
		<key>taqing_bow_6.png</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>1</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>106</integer>
			<key>x</key>
			<integer>1696</integer>
			<key>y</key>
			<integer>227</integer>
		</dict>
		<key>taqing_bow_7.png</key>
		<dict>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>115</integer>
			<key>x</key>
			<integer>1579</integer>
			<key>y</key>
			<integer>227</integer>
		</dict>
		<key>taqing_bow_8.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>130</integer>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>width</key>
			<integer>123</integer>
			<key>x</key>
			<integer>1454</integer>
			<key>y</key>
			<integer>227</integer>
		</dict>
	</dict>
</dict>
</plist>
