<plist version="1.0"><dict><key>frames</key><dict><key>zjb_horse_bg.png</key><dict><key>frame</key><string>{{2,2},{194,48}}</string><key>offset</key><string>{-18,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{230,48}</string></dict><key>zjb_horse_news.png</key><dict><key>frame</key><string>{{198,2},{88,48}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{88,48}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>zjb_horse.png</string></dict></dict></plist>