<plist version="1.0"><dict><key>frames</key><dict><key>hall/CSB/Activity/LobbyShare/newshare/newshare_Btn_fx2.png</key><dict><key>frame</key><string>{{0,0},{485,209}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{485,209}</string></dict><key>hall/CSB/Activity/LobbyShare/newshare/newshare_Btn_gb.png</key><dict><key>frame</key><string>{{485,0},{46,46}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{46,46}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>newshare.png</string></dict><key>texture</key><dict><key>height</key><integer>209</integer><key>width</key><integer>531</integer></dict></dict></plist>