<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gangpiao_3.png</key>
		<dict>
			<key>height</key>
			<integer>348</integer>
			<key>offsetX</key>
			<integer>24</integer>
			<key>offsetY</key>
			<integer>2</integer>
			<key>originalHeight</key>
			<integer>430</integer>
			<key>originalWidth</key>
			<integer>1380</integer>
			<key>width</key>
			<integer>714</integer>
			<key>x</key>
			<integer>974</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>qingyise_2.png</key>
		<dict>
			<key>height</key>
			<integer>414</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>430</integer>
			<key>originalWidth</key>
			<integer>1380</integer>
			<key>width</key>
			<integer>971</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
