<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cainiao2.png</key>
			<dict>
				<key>width</key>
				<integer>826</integer>
				<key>height</key>
				<integer>429</integer>
				<key>originalWidth</key>
				<integer>826</integer>
				<key>originalHeight</key>
				<integer>429</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>feiniao2.png</key>
			<dict>
				<key>width</key>
				<integer>756</integer>
				<key>height</key>
				<integer>427</integer>
				<key>originalWidth</key>
				<integer>756</integer>
				<key>originalHeight</key>
				<integer>427</integer>
				<key>x</key>
				<integer>828</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuangfei2.png</key>
			<dict>
				<key>width</key>
				<integer>792</integer>
				<key>height</key>
				<integer>375</integer>
				<key>originalWidth</key>
				<integer>792</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>431</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sanfei2.png</key>
			<dict>
				<key>width</key>
				<integer>805</integer>
				<key>height</key>
				<integer>377</integer>
				<key>originalWidth</key>
				<integer>805</integer>
				<key>originalHeight</key>
				<integer>377</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>431</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
	</dict>
</plist>