<plist version="1.0"><dict><key>frames</key><dict><key>Match/zhanji/tingpai.png</key><dict><key>frame</key><string>{{2,2},{67,67}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{67,67}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>zhanji.png</string></dict><key>texture</key><dict><key>height</key><integer>128</integer><key>width</key><integer>128</integer></dict></dict></plist>