<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fangchong.png</key>
		<dict>
			<key>height</key>
			<integer>241</integer>
			<key>offsetX</key>
			<integer>-3</integer>
			<key>offsetY</key>
			<integer>-9</integer>
			<key>originalHeight</key>
			<integer>394</integer>
			<key>originalWidth</key>
			<integer>692</integer>
			<key>width</key>
			<integer>402</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>230</integer>
		</dict>
		<key>gangkai.png</key>
		<dict>
			<key>height</key>
			<integer>227</integer>
			<key>offsetX</key>
			<integer>-6</integer>
			<key>offsetY</key>
			<integer>-6</integer>
			<key>originalHeight</key>
			<integer>371</integer>
			<key>originalWidth</key>
			<integer>689</integer>
			<key>width</key>
			<integer>401</integer>
			<key>x</key>
			<integer>411</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>qianggang.png</key>
		<dict>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<integer>-13</integer>
			<key>offsetY</key>
			<integer>-9</integer>
			<key>originalHeight</key>
			<integer>347</integer>
			<key>originalWidth</key>
			<integer>700</integer>
			<key>width</key>
			<integer>408</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>zimo.png</key>
		<dict>
			<key>height</key>
			<integer>216</integer>
			<key>offsetX</key>
			<integer>-27</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>352</integer>
			<key>originalWidth</key>
			<integer>599</integer>
			<key>width</key>
			<integer>350</integer>
			<key>x</key>
			<integer>405</integer>
			<key>y</key>
			<integer>230</integer>
		</dict>
	</dict>
</dict>
</plist>
