<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cainiao.png</key>
		<dict>
			<key>height</key>
			<integer>235</integer>
			<key>offsetX</key>
			<integer>21</integer>
			<key>offsetY</key>
			<integer>5</integer>
			<key>originalHeight</key>
			<integer>429</integer>
			<key>originalWidth</key>
			<integer>826</integer>
			<key>width</key>
			<integer>373</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>feiniao.png</key>
		<dict>
			<key>height</key>
			<integer>235</integer>
			<key>offsetX</key>
			<integer>-11</integer>
			<key>offsetY</key>
			<integer>4</integer>
			<key>originalHeight</key>
			<integer>427</integer>
			<key>originalWidth</key>
			<integer>756</integer>
			<key>width</key>
			<integer>370</integer>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sanfei.png</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<integer>-12</integer>
			<key>offsetY</key>
			<integer>-14</integer>
			<key>originalHeight</key>
			<integer>377</integer>
			<key>originalWidth</key>
			<integer>805</integer>
			<key>width</key>
			<integer>392</integer>
			<key>x</key>
			<integer>387</integer>
			<key>y</key>
			<integer>238</integer>
		</dict>
		<key>shuangfei.png</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<integer>-16</integer>
			<key>offsetY</key>
			<integer>-14</integer>
			<key>originalHeight</key>
			<integer>375</integer>
			<key>originalWidth</key>
			<integer>792</integer>
			<key>width</key>
			<integer>384</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>238</integer>
		</dict>
	</dict>
</dict>
</plist>
