<plist version="1.0"><dict><key>frames</key><dict><key>majiang_Image_HDImg_tang.png</key><dict><key>frame</key><string>{{350,54},{26,29}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{26,29}</string></dict><key>result_total_quick.png</key><dict><key>frame</key><string>{{2,2},{346,136}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{346,136}</string></dict><key>winlost_long.png</key><dict><key>frame</key><string>{{350,2},{50,48}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{50,48}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>NingBoImg.png</string></dict></dict></plist>