<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>genpai_2.png</key>
			<dict>
				<key>width</key>
				<integer>674</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>674</integer>
				<key>originalHeight</key>
				<integer>396</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mo2.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>311</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mo1.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>282</integer>
				<key>originalWidth</key>
				<integer>274</integer>
				<key>originalHeight</key>
				<integer>282</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
	</dict>
</plist>