<plist version="1.0"><dict><key>frames</key><dict><key>lobby_icon_rrby.png</key><dict><key>frame</key><string>{{262,2},{128,128}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{128,128}</string></dict><key>lobby_icon_rrby_1.png</key><dict><key>frame</key><string>{{132,2},{128,128}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{128,128}</string></dict><key>lobby_icon_rrby_2.png</key><dict><key>frame</key><string>{{2,2},{128,128}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{128,128}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>LobbyIconRRBY.png</string></dict></dict></plist>