<plist version="1.0"><dict><key>frames</key><dict><key>lobby_left_iconbar_bg.png</key><dict><key>frame</key><string>{{2,2},{42,50}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{42,50}</string></dict><key>lobby_left_iconbar_more_btn.png</key><dict><key>frame</key><string>{{46,2},{15,27}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{15,27}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>lobby_left_iconbar.png</string></dict></dict></plist>