<plist version="1.0"><dict><key>frames</key><dict><key>pop_sys_time_bg.png</key><dict><key>frame</key><string>{{2,88},{84,84}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{84,84}</string></dict><key>pop_sys_time_jump.png</key><dict><key>frame</key><string>{{88,2},{59,28}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{59,28}</string></dict><key>pop_sys_time_pro.png</key><dict><key>frame</key><string>{{2,2},{84,84}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{84,84}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>pop_system_time.png</string></dict></dict></plist>