<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>saizi/sz_1.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>92</integer>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_10.png</key>
		<dict>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<integer>-2</integer>
			<key>offsetY</key>
			<integer>-11</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>92</integer>
			<key>x</key>
			<integer>1033</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_11.png</key>
		<dict>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>-9</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>93</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_12.png</key>
		<dict>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<integer>-2</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>88</integer>
			<key>x</key>
			<integer>943</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_2.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>284</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_3.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>377</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_4.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>470</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_5.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>563</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_6.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>92</integer>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_7.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>-8</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>91</integer>
			<key>x</key>
			<integer>656</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_8.png</key>
		<dict>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-8</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>92</integer>
			<key>x</key>
			<integer>749</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>saizi/sz_9.png</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>-10</integer>
			<key>originalHeight</key>
			<integer>240</integer>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>width</key>
			<integer>98</integer>
			<key>x</key>
			<integer>843</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
