<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caishendandiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,386},{620,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{620,211}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
            <key>caishenzuoniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{624,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{624,205}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
            <key>sancaishen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,201}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,6},{488,201}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
            <key>sangangtou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{480,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,18},{480,179}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pxtx_ani_yq7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b211f293370163c34f42f3dca4a73ab4$</string>
            <key>textureFileName</key>
            <string>pxtx_ani_yq7.png</string>
        </dict>
    </dict>
</plist>
