<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>caishenshuangguiwei_2.png</key>
		<dict>
			<key>height</key>
			<integer>170</integer>
			<key>offsetX</key>
			<integer>-1</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>688</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>285</integer>
		</dict>
		<key>mo1.png</key>
		<dict>
			<key>height</key>
			<integer>282</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>282</integer>
			<key>originalWidth</key>
			<integer>274</integer>
			<key>width</key>
			<integer>274</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>mo2.png</key>
		<dict>
			<key>height</key>
			<integer>265</integer>
			<key>offsetX</key>
			<integer>3</integer>
			<key>offsetY</key>
			<integer>-12</integer>
			<key>originalHeight</key>
			<integer>301</integer>
			<key>originalWidth</key>
			<integer>311</integer>
			<key>width</key>
			<integer>305</integer>
			<key>x</key>
			<integer>277</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
