<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caishendandiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{620,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{620,211}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
            <key>duiduihu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,384},{590,213}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{590,213}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
            <key>hunyise_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{492,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,18},{492,179}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
            <key>sancaishen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,8},{496,199}}</string>
                <key>sourceSize</key>
                <string>{690,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pxtx_ani_yq13.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381c073d0224a325830120cdc6f2a732$</string>
            <key>textureFileName</key>
            <string>pxtx_ani_yq13.png</string>
        </dict>
    </dict>
</plist>
