<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>caishenzuoniu_1.png</key>
		<dict>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<integer>-3</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>375</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>qingyise_1.png</key>
		<dict>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<integer>-6</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>285</integer>
			<key>x</key>
			<integer>378</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sangangtou_1.png</key>
		<dict>
			<key>height</key>
			<integer>110</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>289</integer>
			<key>x</key>
			<integer>957</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sifengying_1.png</key>
		<dict>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<integer>-4</integer>
			<key>offsetY</key>
			<integer>1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>290</integer>
			<key>x</key>
			<integer>665</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
