<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dihu_1.png</key>
		<dict>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<integer>-2</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>196</integer>
			<key>x</key>
			<integer>488</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sifengqi_1.png</key>
		<dict>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<integer>-7</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>299</integer>
			<key>x</key>
			<integer>187</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>tianhu_1.png</key>
		<dict>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<integer>-4</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>187</integer>
			<key>x</key>
			<integer>686</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>yingdiao_1.png</key>
		<dict>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>184</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
