<plist version="1.0"><dict><key>frames</key><dict><key>owner_dissolve_btn_1.png</key><dict><key>frame</key><string>{{305,2},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{301,131}</string></dict><key>owner_dissolve_btn_2.png</key><dict><key>frame</key><string>{{2,2},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{301,131}</string></dict><key>owner_dissolve_text_bg.png</key><dict><key>frame</key><string>{{438,2},{52,51}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{52,51}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>teahouse_remodel_dissolve.png</string></dict></dict></plist>