<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_bgs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{327,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,314}}</string>
                <key>sourceSize</key>
                <string>{327,314}</string>
            </dict>
            <key>mj_box_hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,70},{67,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,98}}</string>
                <key>sourceSize</key>
                <string>{67,98}</string>
            </dict>
            <key>mj_box_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>mj_box_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{67,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,98}}</string>
                <key>sourceSize</key>
                <string>{67,98}</string>
            </dict>
            <key>wash_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{292,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,94}}</string>
                <key>sourceSize</key>
                <string>{292,94}</string>
            </dict>
            <key>xipai_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,314}}</string>
                <key>sourceSize</key>
                <string>{327,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>washcard_movie0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b4efab0dda9faf4f6e13f857c10f5f$</string>
            <key>textureFileName</key>
            <string>washcard_movie0.png</string>
        </dict>
    </dict>
</plist>
