<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baiguang.png</key>
		<dict>
			<key>height</key>
			<integer>366</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>366</integer>
			<key>originalWidth</key>
			<integer>372</integer>
			<key>width</key>
			<integer>372</integer>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>baiguang2.png</key>
		<dict>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>174</integer>
			<key>originalWidth</key>
			<integer>372</integer>
			<key>width</key>
			<integer>372</integer>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>369</integer>
		</dict>
		<key>dimiansuilie.png</key>
		<dict>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>147</integer>
			<key>originalWidth</key>
			<integer>374</integer>
			<key>width</key>
			<integer>373</integer>
			<key>x</key>
			<integer>1177</integer>
			<key>y</key>
			<integer>257</integer>
		</dict>
		<key>diquan1.png</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>572</integer>
			<key>width</key>
			<integer>572</integer>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>545</integer>
		</dict>
		<key>diquan2.png</key>
		<dict>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>120</integer>
			<key>originalWidth</key>
			<integer>336</integer>
			<key>width</key>
			<integer>336</integer>
			<key>x</key>
			<integer>1177</integer>
			<key>y</key>
			<integer>406</integer>
		</dict>
		<key>fangsheguang.png</key>
		<dict>
			<key>height</key>
			<integer>681</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>681</integer>
			<key>originalWidth</key>
			<integer>800</integer>
			<key>width</key>
			<integer>800</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>guang.png</key>
		<dict>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>151</integer>
			<key>originalWidth</key>
			<integer>149</integer>
			<key>width</key>
			<integer>147</integer>
			<key>x</key>
			<integer>1830</integer>
			<key>y</key>
			<integer>261</integer>
		</dict>
		<key>guangquan.png</key>
		<dict>
			<key>height</key>
			<integer>254</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>254</integer>
			<key>originalWidth</key>
			<integer>604</integer>
			<key>width</key>
			<integer>604</integer>
			<key>x</key>
			<integer>1177</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>huojian-animation_15_0005_huojian-animation_15.png</key>
		<dict>
			<key>height</key>
			<integer>258</integer>
			<key>offsetX</key>
			<integer>14</integer>
			<key>offsetY</key>
			<integer>-75</integer>
			<key>originalHeight</key>
			<integer>1202</integer>
			<key>originalWidth</key>
			<integer>1346</integer>
			<key>width</key>
			<integer>219</integer>
			<key>x</key>
			<integer>1783</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>wangzha.png</key>
		<dict>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>139</integer>
			<key>originalWidth</key>
			<integer>276</integer>
			<key>width</key>
			<integer>276</integer>
			<key>x</key>
			<integer>1552</integer>
			<key>y</key>
			<integer>261</integer>
		</dict>
	</dict>
</dict>
</plist>
