<plist version="1.0"><dict><key>frames</key><dict><key>btn_yxn_rk.png</key><dict><key>frame</key><string>{{2,2},{124,108}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{124,108}</string></dict><key>img_v3_027o_eede8151-dcf1-43f2-984d-731c0d58ab0g.png</key><dict><key>frame</key><string>{{2,112},{104,24}}</string><key>offset</key><string>{-1,1}</string><key>rotated</key><false/><key>sourceSize</key><string>{108,28}</string></dict><key>img_yxn_rkqp.png</key><dict><key>frame</key><string>{{2,138},{52,42}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{54,44}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>FishIcon.png</string></dict></dict></plist>