<plist version="1.0"><dict><key>frames</key><dict><key>Img_hei_mask.png</key><dict><key>frame</key><string>{{2,38},{33,33}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{33,33}</string></dict><key>Img_lv_mask.png</key><dict><key>frame</key><string>{{2,73},{25,25}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{25,25}</string></dict><key>Img_rw_title.png</key><dict><key>frame</key><string>{{2,2},{107,34}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{107,34}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>GameTask.png</string></dict></dict></plist>