<plist version="1.0"><dict><key>frames</key><dict><key>gold_room_level_change_bg.png</key><dict><key>frame</key><string>{{2,2},{417,256}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{417,256}</string></dict><key>gold_room_level_change_gobtn.png</key><dict><key>frame</key><string>{{421,2},{201,79}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{201,79}</string></dict><key>img_day_game_close.png</key><dict><key>frame</key><string>{{421,205},{63,63}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{63,63}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>gold_room_level_change.png</string></dict></dict></plist>