<plist version="1.0"><dict><key>frames</key><dict><key>new_user_guide_arrow_2.png</key><dict><key>frame</key><string>{{2,191},{59,47}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{59,47}</string></dict><key>new_user_guide_text_jump.png</key><dict><key>frame</key><string>{{80,2},{187,41}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{187,41}</string></dict><key>new_user_guide_text_tip_bg.png</key><dict><key>frame</key><string>{{2,2},{76,137}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{76,137}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>settle_new_user_guide.png</string></dict></dict></plist>