<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>caishensanguiwei_3.png</key>
		<dict>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>536</integer>
			<key>x</key>
			<integer>974</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>dihu_3.png</key>
		<dict>
			<key>height</key>
			<integer>179</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>326</integer>
			<key>x</key>
			<integer>646</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>quanzi_3.png</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>323</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>tianhu_3.png</key>
		<dict>
			<key>height</key>
			<integer>183</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>318</integer>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
