<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>caishenshuangguiwei_1.png</key>
		<dict>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>405</integer>
			<key>x</key>
			<integer>1463</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>dandiaocaishen_1.png</key>
		<dict>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<integer>-6</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>376</integer>
			<key>x</key>
			<integer>1085</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>duiduihu_3.png</key>
		<dict>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>588</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>hunyise_3.png</key>
		<dict>
			<key>height</key>
			<integer>178</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>492</integer>
			<key>x</key>
			<integer>591</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
