<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>caishendandiao_1.png</key>
		<dict>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>364</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>duiduihu_1.png</key>
		<dict>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>289</integer>
			<key>x</key>
			<integer>664</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>hunyise_1.png</key>
		<dict>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<integer>-5</integer>
			<key>offsetY</key>
			<integer>-2</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>290</integer>
			<key>x</key>
			<integer>955</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sancaishen_1.png</key>
		<dict>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<integer>-2</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>295</integer>
			<key>x</key>
			<integer>367</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
