<plist version="1.0"><dict><key>frames</key><dict><key>goldnew_btn_common_close.png</key><dict><key>frame</key><string>{{619,2},{43,41}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{43,43}</string></dict><key>goldnew_img_tips_bg.png</key><dict><key>frame</key><string>{{2,2},{615,389}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{615,389}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>GoldNewCommon.png</string></dict></dict></plist>