<plist version="1.0"><dict><key>frames</key><dict><key>hall/CSB/Activity/LobbyShare/sharefail/Img_db.png</key><dict><key>frame</key><string>{{0,0},{60,60}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{60,60}</string></dict><key>hall/CSB/Activity/LobbyShare/sharefail/Img_xt.png</key><dict><key>frame</key><string>{{0,60},{5,60}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{5,60}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>Plist.png</string></dict><key>texture</key><dict><key>height</key><integer>128</integer><key>width</key><integer>64</integer></dict></dict></plist>