<plist version="1.0"><dict><key>frames</key><dict><key>shop_new_cancel_buy.png</key><dict><key>frame</key><string>{{305,2},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{301,131}</string></dict><key>shop_new_connect_kf.png</key><dict><key>frame</key><string>{{608,2},{161,45}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{161,45}</string></dict><key>shop_new_rebuy.png</key><dict><key>frame</key><string>{{2,2},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{301,131}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>new_shop_rebuy.png</string></dict></dict></plist>