<plist version="1.0"><dict><key>frames</key><dict><key>Img_b_di.png</key><dict><key>frame</key><string>{{2,979},{1920,973}}</string><key>offset</key><string>{0,-1}</string><key>rotated</key><false/><key>sourceSize</key><string>{1920,975}</string></dict><key>Img_fang.png</key><dict><key>frame</key><string>{{1924,2},{68,69}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{68,69}</string></dict><key>Img_s_di.png</key><dict><key>frame</key><string>{{2,2},{1920,975}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{1920,975}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>LookAnxiouslyWinLost.png</string></dict></dict></plist>