<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jrcbq_1.png</key>
		<dict>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>118</integer>
			<key>originalWidth</key>
			<integer>572</integer>
			<key>width</key>
			<integer>572</integer>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>209</integer>
		</dict>
		<key>jrcbq_2.png</key>
		<dict>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>118</integer>
			<key>originalWidth</key>
			<integer>696</integer>
			<key>width</key>
			<integer>696</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>339</integer>
		</dict>
		<key>zhsz_1.png</key>
		<dict>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<integer>-1</integer>
			<key>offsetY</key>
			<integer>1</integer>
			<key>originalHeight</key>
			<integer>206</integer>
			<key>originalWidth</key>
			<integer>740</integer>
			<key>width</key>
			<integer>442</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>209</integer>
		</dict>
		<key>zhsz_2.png</key>
		<dict>
			<key>height</key>
			<integer>206</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>206</integer>
			<key>originalWidth</key>
			<integer>740</integer>
			<key>width</key>
			<integer>740</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
