<plist version="1.0"><dict><key>frames</key><dict><key>doublekou_back_1.png</key><dict><key>frame</key><string>{{232,2},{228,292}}</string><key>offset</key><string>{-1,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{232,294}</string></dict><key>doublekou_face_2.png</key><dict><key>frame</key><string>{{2,2},{228,292}}</string><key>offset</key><string>{-1,-1}</string><key>rotated</key><false/><key>sourceSize</key><string>{232,294}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>doublekou_change_card.png</string></dict></dict></plist>