<plist version="1.0"><dict><key>frames</key><dict><key>tz_bg_early_start_tip.png</key><dict><key>frame</key><string>{{2,2},{195,92}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{195,92}</string></dict><key>tz_btn_early_start.png</key><dict><key>frame</key><string>{{2,96},{346,136}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{346,136}</string></dict><key>tz_early_start_title.png</key><dict><key>frame</key><string>{{140,96},{216,64}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{216,64}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>earlyStart.png</string></dict></dict></plist>