<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fangsheguang.png</key>
		<dict>
			<key>height</key>
			<integer>681</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>681</integer>
			<key>originalWidth</key>
			<integer>800</integer>
			<key>width</key>
			<integer>800</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>huojian-animation_15_0004_huojian-animation_16.png</key>
		<dict>
			<key>height</key>
			<integer>373</integer>
			<key>offsetX</key>
			<integer>9</integer>
			<key>offsetY</key>
			<integer>-107</integer>
			<key>originalHeight</key>
			<integer>1202</integer>
			<key>originalWidth</key>
			<integer>1346</integer>
			<key>width</key>
			<integer>463</integer>
			<key>x</key>
			<integer>803</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
