<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gang3.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>angang3.png</key>
			<dict>
				<key>width</key>
				<integer>681</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>681</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ruanbao_3.png</key>
			<dict>
				<key>width</key>
				<integer>699</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>699</integer>
				<key>originalHeight</key>
				<integer>396</integer>
				<key>x</key>
				<integer>1074</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yingbao_3.png</key>
			<dict>
				<key>width</key>
				<integer>699</integer>
				<key>height</key>
				<integer>396</integer>
				<key>originalWidth</key>
				<integer>699</integer>
				<key>originalHeight</key>
				<integer>396</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>menhu_3.png</key>
			<dict>
				<key>width</key>
				<integer>627</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>627</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>701</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tianque_3.png</key>
			<dict>
				<key>width</key>
				<integer>805</integer>
				<key>height</key>
				<integer>427</integer>
				<key>originalWidth</key>
				<integer>805</integer>
				<key>originalHeight</key>
				<integer>427</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>797</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tianting_3.png</key>
			<dict>
				<key>width</key>
				<integer>796</integer>
				<key>height</key>
				<integer>471</integer>
				<key>originalWidth</key>
				<integer>796</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>807</integer>
				<key>y</key>
				<integer>797</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zimo_3.png</key>
			<dict>
				<key>width</key>
				<integer>778</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>778</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1270</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zimo_2.png</key>
			<dict>
				<key>width</key>
				<integer>778</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>778</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>780</integer>
				<key>y</key>
				<integer>1270</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>peng2.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>1560</integer>
				<key>y</key>
				<integer>1270</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hu2.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1645</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chi2.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>1645</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gang2.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>782</integer>
				<key>y</key>
				<integer>1645</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>angang2.png</key>
			<dict>
				<key>width</key>
				<integer>681</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>681</integer>
				<key>originalHeight</key>
				<integer>338</integer>
				<key>x</key>
				<integer>1173</integer>
				<key>y</key>
				<integer>1645</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>cardtype_ani1.png</string>
			<key>realTextureFileName</key>
			<string>cardtype_ani1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>