<plist version="1.0"><dict><key>frames</key><dict><key>game_movie_huan.png</key><dict><key>frame</key><string>{{2,86},{249,82}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{249,82}</string></dict><key>game_movie_zuoding.png</key><dict><key>frame</key><string>{{2,2},{249,82}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{249,82}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>game_start.png</string></dict></dict></plist>