<plist version="1.0"><dict><key>frames</key><dict><key>area_btn_check.png</key><dict><key>frame</key><string>{{181,2},{297,121}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{297,121}</string></dict><key>area_btn_close.png</key><dict><key>frame</key><string>{{181,125},{101,101}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{101,101}</string></dict><key>area_img_bg.png</key><dict><key>frame</key><string>{{2,2},{184,177}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{184,177}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>mahDeadArea.png</string></dict></dict></plist>