<plist version="1.0"><dict><key>frames</key><dict><key>mah_style_bg_7.png</key><dict><key>frame</key><string>{{2,2},{386,228}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{386,228}</string></dict><key>set_mah_back6.png</key><dict><key>frame</key><string>{{2,390},{81,115}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{81,115}</string></dict><key>setting_trust.png</key><dict><key>frame</key><string>{{85,390},{150,53}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{150,53}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>settingNew2.png</string></dict></dict></plist>