<plist version="1.0"><dict><key>frames</key><dict><key>can_hu_bg.png</key><dict><key>frame</key><string>{{393,2},{100,100}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{100,100}</string></dict><key>division_line.png</key><dict><key>frame</key><string>{{393,104},{2,192}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{2,192}</string></dict><key>hu.png</key><dict><key>frame</key><string>{{2,2},{389,338}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{389,338}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>tip_can_hu_mah.png</string></dict></dict></plist>