<plist version="1.0"><dict><key>frames</key><dict><key>gold_item_logo_9.png</key><dict><key>frame</key><string>{{2,2},{410,370}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{410,370}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>goldLayer2.png</string></dict></dict></plist>