<plist version="1.0"><dict><key>frames</key><dict><key>img_zjb_fldps.png</key><dict><key>frame</key><string>{{2,112},{134,36}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{134,36}</string></dict><key>img_zjb_icon.png</key><dict><key>frame</key><string>{{2,2},{108,114}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{108,124}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>rrby_tea.png</string></dict></dict></plist>