<plist version="1.0"><dict><key>frames</key><dict><key>erren_majhong_hubtn.png</key><dict><key>frame</key><string>{{312,2},{308,132}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{308,132}</string></dict><key>erren_majhong_jiabei_bg.png</key><dict><key>frame</key><string>{{2,312},{100,100}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{100,100}</string></dict><key>erren_majhong_jiabeibtn.png</key><dict><key>frame</key><string>{{2,2},{308,132}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{308,132}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>erren_mahjong_jiabei.png</string></dict></dict></plist>