<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sicaishen_2.png</key>
		<dict>
			<key>height</key>
			<integer>416</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>430</integer>
			<key>originalWidth</key>
			<integer>1380</integer>
			<key>width</key>
			<integer>986</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>tianhu_2.png</key>
		<dict>
			<key>height</key>
			<integer>367</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>430</integer>
			<key>originalWidth</key>
			<integer>1380</integer>
			<key>width</key>
			<integer>638</integer>
			<key>x</key>
			<integer>989</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
