<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>qidui_3.png</key>
		<dict>
			<key>height</key>
			<integer>367</integer>
			<key>offsetX</key>
			<integer>17</integer>
			<key>offsetY</key>
			<integer>3</integer>
			<key>originalHeight</key>
			<integer>430</integer>
			<key>originalWidth</key>
			<integer>1380</integer>
			<key>width</key>
			<integer>681</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>shisanyao_3.png</key>
		<dict>
			<key>height</key>
			<integer>325</integer>
			<key>offsetX</key>
			<integer>-49</integer>
			<key>offsetY</key>
			<integer>2</integer>
			<key>originalHeight</key>
			<integer>430</integer>
			<key>originalWidth</key>
			<integer>1380</integer>
			<key>width</key>
			<integer>942</integer>
			<key>x</key>
			<integer>684</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
