<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ct_chuntian.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{254,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,138}}</string>
                <key>sourceSize</key>
                <string>{254,138}</string>
            </dict>
            <key>ct_fanchuntina.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,142},{367,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,138}}</string>
                <key>sourceSize</key>
                <string>{367,138}</string>
            </dict>
            <key>ct_hua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,395},{109,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,114}</string>
            </dict>
            <key>ct_hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,395},{93,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{95,112}</string>
            </dict>
            <key>ct_huabao.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ct_lingdangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,471},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>ct_linghou.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,471},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>ct_piaodai 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,395},{20,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,57}}</string>
                <key>sourceSize</key>
                <string>{20,57}</string>
            </dict>
            <key>ct_piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,395},{19,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,49}}</string>
                <key>sourceSize</key>
                <string>{19,51}</string>
            </dict>
            <key>ct_sheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,497},{5,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,59}}</string>
                <key>sourceSize</key>
                <string>{5,59}</string>
            </dict>
            <key>ct_sheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,497},{9,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,30}}</string>
                <key>sourceSize</key>
                <string>{9,30}</string>
            </dict>
            <key>ct_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{733,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{733,391}}</string>
                <key>sourceSize</key>
                <string>{733,391}</string>
            </dict>
            <key>ct_ye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{115,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,107}}</string>
                <key>sourceSize</key>
                <string>{115,107}</string>
            </dict>
            <key>ct_ye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,395},{57,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,74}}</string>
                <key>sourceSize</key>
                <string>{57,74}</string>
            </dict>
            <key>ct_ye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,395},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZ_chuntian0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6669386888d0b635e6fead6f4f0c6cc$</string>
            <key>textureFileName</key>
            <string>DDZ_chuntian0.png</string>
        </dict>
    </dict>
</plist>
