<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sanmeiren_3.png</key>
		<dict>
			<key>height</key>
			<integer>204</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>508</integer>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sibaiban_3.png</key>
		<dict>
			<key>height</key>
			<integer>170</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>505</integer>
			<key>x</key>
			<integer>1321</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sifengqi_2.png</key>
		<dict>
			<key>height</key>
			<integer>199</integer>
			<key>offsetX</key>
			<integer>-1</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>499</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>yingdiao_3.png</key>
		<dict>
			<key>height</key>
			<integer>204</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>307</integer>
			<key>x</key>
			<integer>1012</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
