<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baicongcao_1.png</key>
		<dict>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<integer>-1</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>291</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>baxianguohai_1.png</key>
		<dict>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<integer>-3</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>383</integer>
			<key>x</key>
			<integer>586</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>qixiannv_1.png</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>-4</integer>
			<key>offsetY</key>
			<integer>-2</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>298</integer>
			<key>x</key>
			<integer>971</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>sifacai_1.png</key>
		<dict>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<integer>-4</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>290</integer>
			<key>x</key>
			<integer>294</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
