<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baxianguohai_2.png</key>
		<dict>
			<key>height</key>
			<integer>185</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>637</integer>
			<key>x</key>
			<integer>833</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>caishensiguiwei_2.png</key>
		<dict>
			<key>height</key>
			<integer>133</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>536</integer>
			<key>x</key>
			<integer>1472</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>quanzi_2.png</key>
		<dict>
			<key>height</key>
			<integer>192</integer>
			<key>offsetX</key>
			<integer>1</integer>
			<key>offsetY</key>
			<integer>-1</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>325</integer>
			<key>x</key>
			<integer>506</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>simeiren_2.png</key>
		<dict>
			<key>height</key>
			<integer>203</integer>
			<key>offsetX</key>
			<integer>-2</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>215</integer>
			<key>originalWidth</key>
			<integer>690</integer>
			<key>width</key>
			<integer>503</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
