<plist version="1.0"><dict><key>frames</key><dict><key>recording_bg.png</key><dict><key>height</key><integer>106</integer><key>offsetX</key><real>0.0</real><key>offsetY</key><real>0.0</real><key>originalHeight</key><integer>106</integer><key>originalWidth</key><integer>106</integer><key>width</key><integer>106</integer><key>x</key><integer>108</integer><key>y</key><integer>0</integer></dict><key>recording_light.png</key><dict><key>height</key><integer>106</integer><key>offsetX</key><real>0.0</real><key>offsetY</key><real>0.0</real><key>originalHeight</key><integer>106</integer><key>originalWidth</key><integer>106</integer><key>width</key><integer>106</integer><key>x</key><integer>0</integer><key>y</key><integer>0</integer></dict></dict><key>texture</key><dict><key>height</key><integer>1024</integer><key>width</key><integer>1024</integer></dict></dict></plist>