<plist version="1.0"><dict><key>frames</key><dict><key>Match/RoomName/17.png</key><dict><key>frame</key><string>{{2,291},{189,55}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{189,55}</string></dict><key>Match/RoomName/27.png</key><dict><key>frame</key><string>{{61,291},{189,55}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{189,55}</string></dict><key>Match/RoomName/img_bkg.png</key><dict><key>frame</key><string>{{2,2},{285,140}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{285,140}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>RoomName.png</string></dict><key>texture</key><dict><key>height</key><integer>482</integer><key>width</key><integer>144</integer></dict></dict></plist>