<plist version="1.0"><dict><key>frames</key><dict><key>newgold_game_chat_img_liaotian.png</key><dict><key>frame</key><string>{{2,417},{51,139}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{51,139}</string></dict><key>newgold_game_chat_img_liaotian_bg.png</key><dict><key>frame</key><string>{{2,2},{493,413}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{493,413}</string></dict><key>newgold_game_chat_img_liaotian_fengexian.png</key><dict><key>frame</key><string>{{143,417},{353,2}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{353,2}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>Chat.png</string></dict></dict></plist>