<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fcs_da.png</key>
		<dict>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>79</integer>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>width</key>
			<integer>79</integer>
			<key>x</key>
			<integer>417</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>fcs_fangshe.png</key>
		<dict>
			<key>height</key>
			<integer>412</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>412</integer>
			<key>originalWidth</key>
			<integer>414</integer>
			<key>width</key>
			<integer>414</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>fcs_fcs1.png</key>
		<dict>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>54</integer>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>width</key>
			<integer>154</integer>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>fcs_fcs2.png</key>
		<dict>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>52</integer>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>width</key>
			<integer>152</integer>
			<key>x</key>
			<integer>654</integer>
			<key>y</key>
			<integer>330</integer>
		</dict>
		<key>fcs_fcs3.png</key>
		<dict>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>91</integer>
			<key>originalWidth</key>
			<integer>263</integer>
			<key>width</key>
			<integer>263</integer>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>234</integer>
		</dict>
		<key>fcs_fd_xuanguang.png</key>
		<dict>
			<key>height</key>
			<integer>327</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>327</integer>
			<key>originalWidth</key>
			<integer>322</integer>
			<key>width</key>
			<integer>322</integer>
			<key>x</key>
			<integer>417</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>fcs_guang.png</key>
		<dict>
			<key>height</key>
			<integer>231</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>231</integer>
			<key>originalWidth</key>
			<integer>274</integer>
			<key>width</key>
			<integer>274</integer>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
