<plist version="1.0"><dict><key>frames</key><dict><key>btn_update_install.png</key><dict><key>frame</key><string>{{2,135},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{301,131}</string></dict><key>btn_update_update.png</key><dict><key>frame</key><string>{{305,2},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><true/><key>sourceSize</key><string>{301,131}</string></dict><key>btn_update_wait.png</key><dict><key>frame</key><string>{{2,2},{301,131}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{301,131}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>packgeUpdate.png</string></dict></dict></plist>