<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1di.png</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>width</key>
			<integer>275</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>177</integer>
		</dict>
		<key>1houhua.png</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>width</key>
			<integer>172</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>417</integer>
		</dict>
		<key>1zi.png</key>
		<dict>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>102</integer>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>width</key>
			<integer>200</integer>
			<key>x</key>
			<integer>278</integer>
			<key>y</key>
			<integer>216</integer>
		</dict>
		<key>2di.png</key>
		<dict>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>276</integer>
			<key>width</key>
			<integer>276</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>2houhua.png</key>
		<dict>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>95</integer>
			<key>originalWidth</key>
			<integer>171</integer>
			<key>width</key>
			<integer>171</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>320</integer>
		</dict>
		<key>2shunzi.png</key>
		<dict>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>105</integer>
			<key>originalWidth</key>
			<integer>213</integer>
			<key>width</key>
			<integer>213</integer>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>109</integer>
		</dict>
		<key>3di.png</key>
		<dict>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>86</integer>
			<key>originalWidth</key>
			<integer>276</integer>
			<key>width</key>
			<integer>276</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>89</integer>
		</dict>
		<key>3houhua.png</key>
		<dict>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>width</key>
			<integer>172</integer>
			<key>x</key>
			<integer>174</integer>
			<key>y</key>
			<integer>320</integer>
		</dict>
		<key>3shunzi.png</key>
		<dict>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>106</integer>
			<key>originalWidth</key>
			<integer>215</integer>
			<key>width</key>
			<integer>215</integer>
			<key>x</key>
			<integer>279</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>cddd.png</key>
		<dict>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>78</integer>
			<key>originalWidth</key>
			<integer>88</integer>
			<key>width</key>
			<integer>88</integer>
			<key>x</key>
			<integer>175</integer>
			<key>y</key>
			<integer>416</integer>
		</dict>
	</dict>
</dict>
</plist>
