<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_mah_face_2_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,854},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,854},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,854},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,854},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,854},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,712},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,712},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,712},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,712},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,712},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,570},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,570},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,570},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,570},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,570},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,428},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,428},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,428},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,428},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,428},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,286},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,286},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,286},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,286},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,286},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,144},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,144},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,144},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,144},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,144},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>mj_mah_face_2_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
            <key>set_mah_word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{140,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,158}}</string>
                <key>sourceSize</key>
                <string>{140,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mahlayer_mah_face_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1057636ffd4047cee8fa5120afe9668b$</string>
            <key>textureFileName</key>
            <string>mahlayer_mah_face_2.png</string>
        </dict>
    </dict>
</plist>
