<plist version="1.0"><dict><key>frames</key><dict><key>game_next_btn_1.png</key><dict><key>frame</key><string>{{2,69},{209,65}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{209,65}</string></dict><key>game_next_btn_2.png</key><dict><key>frame</key><string>{{2,136},{189,59}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{209,65}</string></dict><key>game_next_btn_3.png</key><dict><key>frame</key><string>{{2,2},{209,65}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false/><key>sourceSize</key><string>{209,65}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>textureFileName</key><string>box_room_game_continue.png</string></dict></dict></plist>